* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 500px;
    margin: 0 auto;
    font-family: Arial;
}

.header {
    text-align: center;
    font-weight: 600;
}

.answer {
    display: block;
    margin: 5px 50px;
    font-weight: normal;
}

input[type=checkbox] {
    margin-right: 5px;
}

.btn {
    display: block;
    margin: 30px auto;
}

